extends layout

block content
  div.wrapper
    h1 Melis IPhone 
    ul.features
      li 
        span Temparature : 
      li 
        span Huminity : 
      li 
        span Distance : 
      li 
        span Lamp Status : 
    button.iphonebutton
