extends layout

block content
  div.wrapper
    h1 Melis IPhone 
    ul.features
      li Temparature:
       span#temparature   
      li  Humidity:
        span#humidity
      li  Distance:
        span#distance
      li Lamp Status:
        span#lampstatus
    button.iphonebutton

